/* ESTILOS GENERALES */
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Use a value from 300 to 800  */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background-color: #000000;
  color: #ffffff;
}
header {
  background-color: #1a1a1a;
}
section {
  padding: 40px 0;
}

/* ESTILOS PARA EL HEADER */
.navbar-brand {
  font-weight: 800;
  font-size: 25px;
  color: #f5c11e !important;
}
.navbar-brand .description {
  font-size: 0.75rem; /* Tamaño de la descripción */
  color: #e0e0e0;
  margin-left: 10px; /* Espacio entre el título y la descripción */
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.nav-item.show {
  opacity: 1;
  transform: translateY(0);
}
/* Menú Inicio */
.nav-item.active .nav-link {
  color: #f5c11e !important;
}

/* ESTILOS PARA EL BODY */
.title-section {
  background-color: #1a1a1a;
  text-align: center;
  color: #f5c11e !important;
}
.title-section h1 {
  font-size: 2.5rem;
}

.general-data-section {
  background-color: #1a1a1a;
}
.general-data-section h2 {
  font-size: 2rem;
  color: #f5c11e !important;
}
.general-data-section p {
  font-size: 1rem;
}

.map-section {
  background-color: #1a1a1a;
  color: #f5c11e !important;
}
.map-section iframe {
  width: 100%;
  height: 400px; /* Altura del mapa */
}

.contact-section {
  background-color: #1a1a1a;
}
.contact-section h2 {
  font-size: 2rem;
  color: #f5c11e !important;
}
.contact-section form {
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
}
.contact-section .form-group label {
  color: #ffffff; /* Etiquetas blancas */
}
.contact-section .form-group input,
.contact-section .form-group textarea {
  background-color: #000000; /* Fondo negro para los campos de formulario */
  color: #ffffff; /* Texto blanco en los campos */
  border: 1px solid #333333; /* Borde gris oscuro */
}
.contact-section .form-group input:focus,
.contact-section .form-group textarea:focus {
  border-color: #f5c11e; /* Borde amarillo en el foco */
}
.contact-section .btn-primary {
  background-color: #f5c11e; /* Botón amarillo */
  border-color: #f5c11e; /* Borde amarillo */
  color: #1a1a1a;
  font-weight: 600;
}
.contact-section .btn-primary:hover {
  background-color: #e0e0e0; /* Color más claro al pasar el ratón */
  border-color: #e0e0e0; /* Borde más claro */
}

/* UTILITARIO LINEA DIVISION */
.divider-container {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #1a1a1a;
  }
  .divider {
    border: 0;
    height: 1px;
    background: #333333;
    width: 100%;
    max-width: 1140px; /* Ancho máximo para igualar al contenedor .container */
  }