/* ESTILOS GENERALES */
* {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /* Use a value from 300 to 800  */
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
body {
  background-color: #000000;
  color: #ffffff;
}
header {
  background-color: #1a1a1a;
}
section {
  padding: 40px 0;
}

/* ESTILOS PARA EL HEADER */
.navbar-brand {
  font-weight: 800;
  font-size: 25px;
  color: #f5c11e !important;
}
.navbar-brand .description {
  font-size: 0.75rem; /* Tamaño de la descripción */
  color: #e0e0e0;
  margin-left: 10px; /* Espacio entre el título y la descripción */
}
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nav-item {
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.nav-item.show {
  opacity: 1;
  transform: translateY(0);
}
/* Menú Inicio */
.nav-item.active .nav-link {
  color: #f5c11e !important;
}

/* ESTILOS PARA EL BODY */
.title-main-section {
  text-align: center;
  background-color: #1a1a1a;
  color: #f5c11e;
  padding-bottom: 20px;
}
.title-main-section h1 {
  font-size: 2.5rem;
}
.mission-section {
  background-color: #1a1a1a;
  text-align: center;
}
.mission-section h2 {
  color: #f5c11e;
  font-size: 2rem;
}
.mission-section p {
  font-size: 1rem;
  margin: 0 auto; /* Centrar el párrafo si tiene un ancho fijo */
  max-width: 800px; /* Ancho máximo para el párrafo */
}
.services-section {
  background-color: #1a1a1a;
  padding-top: 20px;
}
.services-section h2 {
  color: #f5c11e;
  font-size: 2rem;
  text-align: center; /* Centrar el título */
  margin-bottom: 30px; /* Espacio debajo del título */
}
.service-card {
  height: 250px;
  background-color: #333333;
  border: 1px solid #444444;
  padding: 20px;
  text-align: center;
  border-radius: 10px; /* Bordes redondeados */
  transition: box-shadow 0.3s ease; /* Transición para el sombreado */
}
.service-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6); /* Sombreado al pasar el ratón */
}
.service-icon {
  font-size: 3rem; /* Tamaño grande para los íconos */
  color: #f5c11e;
  margin-bottom: 15px; /* Espacio debajo del ícono */
}
.service-title {
  font-size: 1.5rem; /* Tamaño del título */
  color: #f5c11e;
  margin-bottom: 10px; /* Espacio debajo del título */
}
.service-description {
  font-size: 1rem; /* Tamaño de la descripción */
}
.social-media-section {
  background-color: #1a1a1a;
  text-align: center;
  padding: 40px 0; /* Espaciado para la sección de redes sociales */
}
.social-media-section h2 {
  font-size: 2rem; /* Tamaño del subtítulo */
}
.social-media-section a {
  color: #f5c11e;
  font-size: 20px; /* Tamaño de los íconos */
  margin: 0 10px; /* Espacio entre los íconos */
}
.social-media-section a:hover {
  color: #e0e0e0;
}

/* UTILITARIO LINEA DIVISION */
.divider-container {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #1a1a1a;
}
.divider {
  border: 0;
  height: 1px;
  background: #333333;
  width: 100%;
  max-width: 1140px; /* Ancho máximo para igualar al contenedor .container */
}
