body {
    background-color: #000000;
    color: #ffffff;
    background-image: url('../ArchivoImagenes/Recursos/Recurso\ 2v.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad */
    z-index: -1;
}
.navbar {
    background-color: #000000;
}
.navbar-nav .nav-link {
    color: #ffffff;
}
.navbar-brand {
    color: #1F9891 !important; /* Cambia el color del texto del logo */
}
.footer {
    background-color: #000000;
    color: #1F9891;
    padding: 20px 0;
}
.footer a {
    color: #1F9891;
    margin: 0 10px;
}

.rounded-border {
    border: 3px solid #1F9891;
    border-radius: 15px;
}

.titulo-imagen{
    color: #1F9891;
        
}
.descripcion-imagen{
    color: #55B1BE;
}
.nombre-empresa{
    font-size: 50px;
    color: rgb(193, 189, 189);
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}
.slogan {
    font-size: 30px;
    color: #55B1BE;
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 0;
    font-style: normal;
}
.dropdown-menu {
    background-color: #000000; /* Fondo del menú desplegable */
}
.dropdown-item {
    color: #ffffff; /* Color del texto del menú desplegable */
}
.dropdown-item:hover {
    background-color: #1F9891; /* Fondo del elemento al pasar el ratón */
    color: #ffffff; /* Color del texto del elemento al pasar el ratón */
}
.bg-white {
    background-color: #ffffff;
    color: #000000;
}
.suscribete{
    color: rgb(193, 189, 189);
}
.btn-custom {
    background-color: rgb(193, 189, 189);
    color: #000000;
}
.btn-custom:hover {
    background-color: #ffffff;
    color: #000000;
}
.color1 { color: #B5126D; }
.color2 { color: #1F9891; }
.color3 { color: #92C21E; }
.color4 { color: #55B1BE; }

/* Asegura que el footer esté en la parte inferior */
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}
/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
    .navbar-brand {
        font-size: 1.2em;
    }
    .nombre-empresa {
        font-size: 2.5em;
    }
    .slogan {
        font-size: 1.5em;
    }
    .footer {
        padding: 15px 0;
    }
    .footer a {
        margin: 0 5px;
    }
}

/* Estilos para pantallas muy pequeñas */
@media (max-width: 576px) {
    .navbar-brand {
        font-size: 1em;
    }
    .nombre-empresa {
        font-size: 2em;
    }
    .slogan {
        font-size: 1.2em;
    }
    .footer {
        padding: 10px 0;
    }
    .footer a {
        margin: 0 3px;
    }
}